{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Edutech</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        </head>
<body>

<center><h1>Download Pdf</h1></center>

<center><p>Click on the image to download it:</p></center>
<div class="container">
    <div class="row">
      <div class="col-sm-4">
        <center><h3 style="border:1px solid; padding: 5px;">Class 8 th</h3></center>
        <br>
            <div class="row">
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Number line</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Square root</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Cube root</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Rational Number</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
               
                
            </div>
                
      </div>
      <div class="col-sm-4">
        <center><h3 style="border:1px solid; padding: 5px;">Class 9 th</h3></center>
        <br>
            <div class="row">
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Trigonometry</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Circle</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Quadrilateral</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                
            </div>
                
      </div>
      <div class="col-sm-4">
        <center><h3 style="border:1px solid; padding: 5px;">Class 10 th</h3></center>
        <br>
            <div class="row">
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Set</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>polynomial</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Statestics</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>

                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>AP</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Triangle</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Circle</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Trigonometry</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="col-sm-3" style="border:1px solid; padding: 5px;">
                    <center><label>Mensuration</label></center>
                    <a href="{% static 'img/pdf.pdf' %}" download="w3logo">
                        <img src="{% static 'img/downloadpdf.jfif' %}" class="d-block w-100" alt="...">
                    </a>
                </div>
                
            </div>
                
      </div>
        
       
           
      </div>
    </div>
 
</body>
</html>
